<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Ajouter un véhicule</title>
</head>
<body>
<div th:replace="fragments/nav-bar :: navbar"></div>
<h2>Ajouter un véhicule</h2>

<form th:action="@{/ajouter-vehicule}" th:object="${vehicule}" method="post" enctype="multipart/form-data">
    <label>Marque:</label>
    <input type="text" th:field="*{marque}" required><br>

    <label>Modèle:</label>
    <input type="text" th:field="*{modele}" required><br>

    <label>Plaque d'immatriculation:</label>
    <input type="text" th:field="*{plaqueImmatriculation}" required><br>

    <label>Kilométrage:</label>
    <input type="number" th:field="*{kilometrage}" required><br>

    <label>Statut:</label>
    <select th:field="*{statut}">
        <option th:each="s : ${statuts}"
                th:value="${s}"
                th:text="${s.label}">
        </option>
    </select><br>

    <label>Type de véhicule:</label>
    <select th:field="*{typeVehicule}">
        <option th:each="type : ${T(org.sid.gestion_v.entities.TypeVehicule).values()}"
                th:value="${type}" th:text="${type}">Type</option>
    </select><br>

    <label>Type de carburant:</label>
    <select th:field="*{typeCarburant}">
        <option th:each="carb : ${T(org.sid.gestion_v.entities.TypeCarburant).values()}"
                th:value="${carb}" th:text="${carb}">Carburant</option>
    </select><br>

    <label>Date début location:</label>
    <input type="date" th:field="*{dateDebutLocation}" /><br>

    <label>Date fin location:</label>
    <input type="date" th:field="*{dateFinLocation}" /><br>

    <label>Carte Grise:</label>
    <input type="file" name="carteGrise" /><br>

    <label>Assurance:</label>
    <input type="file" name="assuranceDoc" /><br>

    <label>Vignette:</label>
    <input type="file" name="vignette" /><br>

    <label>Visite Technique:</label>
    <input type="file" name="visiteTechnique" /><br>

    <button type="submit">Ajouter</button>
</form>

<br>
<a th:href="@{/vehicules}">Retour à la liste</a>
</body>
</html>
